# Project files in Android Projects:

DeadProjects/DevelopersLifeGifs/.gradle

# Java generated classes:

DeadProjects/**/*.class

# Python cache:

*.pyc

# Gradle Project:

DeadProjects/other/java_data_structures/.gradle

